[Unit]
Description=bluetooth-keyboard-connect
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/bluetooth-keyboard-auto-loader
ExecStart=python3 /bluetooth-keyboard-auto-loader/keyboard_connect.py
Restart=on-failure
SyslogIdentifier=bluetooth-keyboard-connect
RemainAfterExit=no

[Install]
WantedBy=multi-user.target

